
* {
    margin: 0;
    padding: 0;
}
body {
    background-color: seagreen;
    text-align: center;
}
.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button_div {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}

.button {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgb(0,0,0,0.3);
    font-size: 8vmin;
    background-color: rgb(255, 226, 190);
    color: rgb(14, 6, 6);
}
#reset {
    height: 40px;
    width: 100px;
    border-radius: 10px;
    border: none;
    background-color: bisque;
}
#new_game {
    height: 40px;
    width: 100px;
    border-radius: 10px;
    border: none;
    background-color: bisque;
}
.msg-container {
    color: antiquewhite;
    font-size: 40px;
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 15px;
}
.hide {
    display: none;
}